host/build/
target/build/
*.o
*.d
lib/build/
lib/test/smoke
lib/test/smoke.wav
lib/test/smoke6k.wav
lib/test/words.txt
lib/test/smoke_text
lib/test/smoke_text.wav
lib/test/smoke_text6k.wav
lib/test/jsc_roundtrip
lib/test/sync_test
lib/test/jsc_roundtrip
lib/test/jt9_wisdom.dat
lib/test/timer.out
lib/test/directed_test
lib/test/data_test
lib/test/pota_test
